
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background: linear-gradient(135deg, rgba(106, 152, 201, 0.5) 0%, rgba(7, 7, 8, 0.87) 65%);
    
}

header {
    width: 100vw;
    position: relative;
}

#bgImage {
    width: 100%;
}


#text1 {
    position: absolute;
    padding: 0;
    top: 40%;
    left: 60%;
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0.2em 0 .3em white;
    margin: 0;
    -webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: black;
}

.aboutText {
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
    margin-right: 30px;
    -webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: black;
    text-shadow: 10rem;
    width: 90vw;

}

.contact {
    margin: 30px;
}
.contact h2 {
    color: rgb(174, 173, 211);
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;

}

.contact p {
    font-size: 16px;
    color: rgb(113, 113, 128);
    -webkit-text-stroke-width: 0px;
    font-weight: 650;
    margin: 20px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery img {
    border: 2px solid #ccc;
    height: 400px;
    width: 350px;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 20%;
}


section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logos {
    display: flex;
}

.logo:nth-child(2) {
    transition-delay: 1000ms;
}

.logo:nth-child(3) {
    transition-delay: 600ms;
}

@media screen and (max-width: 1125px){

    .gallery {
        flex-direction:column;

    }
    
}